
<html>
  <head>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      var SO2Flag=0;
      var NO2Flag=0;
      var O3Flag=0;
      var COFlag=0;
      var PMFlag=0;
      var tempFlag=0;

      function drawChart() {
        //alert("history_google_chart_data/"+SO2Flag+"/"+NO2Flag+"/"+O3Flag+"/"+COFlag+"/"+PMFlag+"/"+tempFlag);

        var jsonData = $.ajax({
              url: "realtime_google_chart_data/"+SO2Flag+"/"+NO2Flag+"/"+O3Flag+"/"+COFlag+"/"+PMFlag+"/"+tempFlag,
            dataType:"json",
            async: false
            }).responseText;
    // Create our data table out of JSON data loaded from server.
    	var data = new google.visualization.DataTable(jsonData);

        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
	  function button1_click(field) {
      if (field[0].checked)
      {
        SO2Flag=1;
      }
      else {
        SO2Flag=0;
      }
	}
	function button2_click(field) {
    if (field[1].checked) {
      NO2Flag=1;
    }
    else {
      NO2Flag=0;
    }

	}
	function button3_click(field) {
    if (field[2].checked) {
    O3Flag=1;
    }
    else {
      O3Flag=0;
    }
	}
	function button4_click(field) {
    if (field[3].checked) {
     COFlag=1;
    }
    else {
      COFlag=0;
    }
	}
	function button5_click(field) {
    if (field[4].checked) {
      PMFlag=1;
    }
    else {
      PMFlag=0;
    }
	}
	function button6_click(field)
  {
    if (field[5].checked) {
      tempFlag=1;
    }
    else {
      tempFlag=0;
    }
	}
setInterval(drawChart, 3000);
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px"></div>
    <form name="chkbox" method="post">
    <ul>
    <label><input type='checkbox' name='checkbox' onClick="button1_click(this.form.checkbox);" /> <b>SO2</b></label>
    <label><input type='checkbox' name='checkbox' onClick="button2_click(this.form.checkbox);" /> <b>NO2</b></label>
    <label><input type='checkbox' name='checkbox' onClick="button3_click(this.form.checkbox);" /> <b>O3</b></label>
    <label><input type='checkbox' name='checkbox' onClick="button4_click(this.form.checkbox);"  /> <b>CO</b></label>
    <label><input type='checkbox' name='checkbox' onClick="button5_click(this.form.checkbox);"  /> <b>PM</b></label>
    <label><input type='checkbox' name='checkbox' onClick="button6_click(this.form.checkbox);"  /> <b>Temp</b></label>
    </ul>
    </form>
  </body>
</html>
